{% extends 'common/layout/layout_basic.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/common/search.css">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/work/workSearch.js"></script>
{% endblock %}

{% block content %}
    <!-- 검색 조건 -->
    <div>
        <p class="main_title">업무 검색<p>
    </div>
    <div>
        <table class="row_table">
            <thead>
                <colgroup>
                    <col style="width: 20%;">
                    <col style="width: 30%;">
                    <col style="width: 20%;">
                    <col style="width: 30%;">
                </colgroup>
            </thead>
            <tbody>
                <tr>
                    <!-- TODO 20210916 KYB 업무일자에 캘린더 추가 -->
                    <th>업무 일자</th>
                    <td colspan="3">
                        <input id="searchStartWorkDate" type="text" class="input_text datetime" value="{{ search_list['search_start_word_date'] }}" onkeyup="addEnterEvent(getSearchWorkList)">
                        ~
                        <input id="searchEndWorkDate" type="text" class="input_text datetime" value="{{ search_list['search_end_word_date'] }}" onkeyup="addEnterEvent(getSearchWorkList)">
                    </td>
                </tr>
                <tr>
                    <th>프로젝트명</th>
                    <td>
                        <label for="project_code"></label>
                        <select id="searchProjectCode" name="project_code" class="input_select">
                            {% if project_list %}
                                {% for project_info in project_list %}
                                    {% if search_list['search_project_code'] == project_info['PROJECT_ID'] %}
                                        <option selected value="{{ project_info['PROJECT_ID'] }}">{{ project_info['PROJECT_NAME'] }}</option>
                                    {% else %}
                                        <option value="{{ project_info['PROJECT_ID'] }}">{{ project_info['PROJECT_NAME'] }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </select>
                    </td>
                    <th>작성자</th>
                    <td>
                        <input id="searchWorkUserName" type="text" class="input_text" value="{{ search_list['search_work_user_name'] }}" onkeyup="addEnterEvent(getSearchWorkList)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 검색 버튼 -->
    <div class="center_button_wrap">
        <input type="button" value="검색" class="color_button" onclick="getSearchWorkList()">
    </div>

    <!-- 검색 결과 -->
    <div>
        <p class="sub_title">검색결과({{ work_total_count }})<p>
        <table class="col_table">
            <thead>
                <colgroup>
                    <col style="width: 25%">
                    <col style="width: 25%">
                    <col style="width: 25%">
                    <col style="width: 25%">
                </colgroup>
            </thead>
            <tbody>
                <tr>
                    <th>업무일자</th>
                    <th>프로젝트명</th>
                    <th>작성자</th>
                    <th>업무 상태</th>
                </tr>
                {% if work_list %}
                    {% for work_info in work_list %}
                        <tr onclick="getWorkDetailPage(this)">
                            <td id="workDay">{{ work_info['WORK_DATE'] }}</td>
                            <td>{{ work_info['PROJECT_NAME'] }}</td>
                            <td>{{ work_info['USER_NAME'] }}</td>
                            <td>{{ work_info['WORK_STATE_CODE_NAME'] }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    <!-- 페이징 처리 -->
    <div class="page_wrap">
        <ul>
            {% for page in range(page_info['first_page'], page_info['last_page'] + 1) %}
                {% if page == page_info['page'] %}
                    <li class="on">{{ page }}</li>
                {% else %}
                    <li onclick="getPageWorkList(this)">{{ page }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}