<div class="popup" id="reportReturnContentPopup">
    <div class="content">
        <!-- 상단 -->
        <div class="top">
            <div>보고서 반려</div>
            <div class="popup_close">
                X
            </div>
        </div>

        <!-- 내용 -->
        <div class="bottom">
            <div class="popup_sub_title">반려내용</div>
            <div>
                <textarea id="reportReturnContent" rows="4" style="width: 100%;"></textarea>
            </div>
            <div class="button_wrap">
                <input type="button" id="reportReturnBtn" value="반려" class="button" onclick="returnReport()">
            </div>
        </div>
    </div>
</div>