/* 20210918 KYB add 모든 화면에 공통적으로 사용되는 css */
/* 태그 */
textarea { resize: none; }

/* 기본 클래스 */
.none { display: none; }

.main_title { font-size: 25px; font-weight: bold; width: fit-content; }
.sub_title { font-weight: bold; display: inline-block; }

/* 테이블 */
.row_table { width: 100%; border: solid #f2f2f2 2px; padding: 10px; margin: auto; margin-bottom: 20px; }
.row_table th { padding: 10px; font-size: 18px; }
/* .row_table td { padding: 10px; } */

.col_table { width: 100%; border: solid #f2f2f2 2px; padding: 10px; margin: auto; }
.col_table th { padding: 10px; font-size: 18px; }
.col_table td { padding: 10px; text-align: center; cursor: pointer; }

/* input */
.input_text { width: 100%; padding: 7px 0px 7px 7px; /* font-size: 18px; */ outline: none; border: solid #f2f2f2 2px; border-radius: 5px; }
.input_text.datetime { width: 47%; padding: 7px 0px 7px 7px; font-size: 18px; outline: none; border: solid #f2f2f2 2px; border-radius: 5px; }
.input_text:focus { border: solid #4EC2A9 2px; }

.input_select { width: 100%; padding: 7px; font-size: 15px; outline: none; border: solid #f2f2f2 2px; border-radius: 5px; }
.input_select:focus { border: solid #4EC2A9 2px; }

/* button */
.color_button { border: none; padding: 10px 50px; color: white; font-size: 15px; font-weight: bold; background-color: #4EC2A9; cursor: pointer; }
.empty_button { border: #4EC2A9 1px solid; padding: 10px 50px; color: #4EC2A9; font-size: 15px; font-weight: bold; background-color: white; cursor: pointer; margin: 0 10px 0px 10px; }
.empty_button:hover { color: #2CA389; border: #2CA389 1px solid; }

/* button_wrap */
.center_button_wrap { text-align: center; margin-bottom: 50px; }
.right_button_wrap { text-align: right; }
.center_column_button_wrap { display: flex; flex-direction: column; }
.center_column_button_wrap input { margin: 5px auto; padding: 10px; width: 70%; border: none; background-color: #4EC2A9; color: white; font-weight: bold; font-size: 15px; border-radius: 4px; cursor: pointer; }

