
.login_box { display: flex; height: 100%; }

.login_wrap { width: 40vw; height: 50vh; margin: auto; display: flex; flex-direction: column; }

.login_header { font-size: 40px; font-weight: bold; color: var(--main_color); text-align: center; line-height: 6rem; }

.login_body { flex: 1.5; }

.login_text { display: block; width: 75%; padding: 14px; margin: 10px auto; border: solid #dddddd 1px; color: gray; }
.login_text:focus { outline: none; border: solid var(--main_color) 1px; }

#loginResultText { color: red; text-align: left; width: 75%; margin: 10px auto; font-weight: bold; }

.login_footer { flex: 1; text-align: center; }

.login_button { width: 75%; background: var(--main_color); color: white; font-size: 20px; padding: 14px; border: none; }
.login_button:focus { background: #2CA389; }
